$footer: white
$text-color: #4f4f4f
$text-size: 0.8em

.kancelaria 
  width: 300px
  margin-bottom: 0.7em

.details 
  a 
    color: $text-color
    font-size: $text-size

.logofooter 
  img 
    max-width: 128px
  
@media (min-width:1022px)
  .footerlogo
    padding: 0 0 1em 0

  footer
    padding: 4em 0
    background-color: $footer
    
  
    .logofoot
     display: flex
     align-items: center
     justify-content: space-between
  
     
    .menu
      display: flex
      justify-content: center
      
      a
        color: $text-color
        font-size: $text-size
        padding: 1em
    p
      color: $text-color
      font-size: $text-size
      margin: 0 10px

  .flexbox
    display: flex
    justify-content: center

    a 
      color: $text-color


@media (max-width:1022px)
  footer
    padding: 4em 0
    background-color: $footer
    border: 5px solid white
          
    .logofoot
      display: flex
      align-items: center
      justify-content: center

    img 
      margin: 5px 5px 
    
    .menu
      display: flex
      flex-direction: column
      border: 1px solid white
      justify-content: center
      margin: 0 5px
      a
        color: $text-color
        font-size: $text-size
        padding: 0.5em
        text-align: center
        

    p 
      color: $text-color
      font-size: $text-size
      margin-left: 20px
  
  .flexbox
    display: flex
    justify-content: center

    a 
      color: $text-color